/* RESIZE DU TOP SECTION */
@media screen and (min-width: 1730px){
     h1.h1-top{
          color: #FFF;
          font-size: 7rem;
     }
     h2.h2-top{
          margin-left: 5px;
          font-size: 1.7rem;
          color: #fdc945;
     }
     h3.h3-top{
          font-size: 2rem;
          margin-left: 5px;
          color: #FFF;
     }

     button.btn2-dashboard{
          font-size: 0.9rem;
     }

     .right{
          height: 50vh;
     }

     /* ETAPES */
     .h1-etape{
          font-size: 2rem;
     }
     .material-symbols-outlined{
          font-size: 2.5rem;
     }

     /* CONCEPT */
     .p-concept{
          font-size: 1.8rem;
     }
}

@media screen and (max-width: 935px){
     section.about-section{
          flex-direction: column;
          text-align: center;
     }
     .left{
          width: 100%;
          padding: none;
          display: flex;
          align-items: center;
     }
     .right{
          width: 100%;
          height: 40vh;
     }
     #ouvrir {
          display: block;
     }

     #fermer {
         display: none;
     }

     .open #ouvrir {
         display: none;
     }

     .open #fermer {
         display: block;
     }
}

/* NAV MENU */
@media screen and (min-width: 900px){
     .toggle{
          display: none;
     }
}

/* REORGANISATION GRID + NAV */
@media screen and (max-width: 900px){

     header{
          justify-content: space-between;
     }

     nav{
          display: none;
     }

     .toggle{
          margin: 0 2rem;
     }
     h1.h1-header{
          margin: 0 2rem;
     }

     h1.h1-header{
          display: block;
     }

     /*/ GRID */
     .cont-etapes{
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          grid-gap: 1rem;
          grid-auto-rows: minmax(50%, auto);
     }
     .e-1{
          grid-column:1/3;
          grid-row: 1;
     }
     .e-2{
          grid-column: 3/5;
          grid-row: 1;
     }
     .e-3{
          grid-column: 2/4;
          grid-row: 2;
     }

     .h1-concept{
          font-size: 3rem;
     }
     .h2-concept{
          font-size: 1rem;
     }
     .p-concept{
          font-size: 1.2rem;
     }
}

/* CHANGEMENT DE GRID A FLEX + HEADER */
@media screen and (max-width: 750px){
     .cont-etapes{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
     }
     section.etapes{
          padding: 5rem 5rem;
     }
     .buttons-concept{
          margin-top: 2rem;
     }
}

@media screen and (max-width: 695px){
     section.about-section{
          padding: 3rem 0;
     }
}